<div id = header>
    <hader>
    <nav>
        <li><a hraf = " ">ツイート</a></li>
        <li><a hraf = " ">ツイートと返信</a></li>            
        <li><a hraf = " ">メディア</a></li>
        <li><a hraf = " ">いいね</a></li>
    </nav>
    </hader>
</div>
