#header {
    position: relative;
    left: 125px;
}

#side {
    width: 220px;
    height: 0px;
    float: left;
}

#index {
    position: relative;
    top: 10px;
    left: 250px;
}

#nindex {
    position: relative;
    top: 10px;
    left: 250px;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    padding: 8px;
    background-color: #0099ff;
    color: white;
}

btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 1em;
    background-color: #0099ff;
    color: white;
}

